@charset "utf-8";
/* CSS Document */

body
{
margin:0;
padding:0;	
}

.clear
{
clear:both;	
}

img
{
border:none;	
}

.topbar-outer {
	margin: 0px;
	width: 100%;
	background-image: url(images/topbar-background.jpg);
	
	background-repeat: repeat-x;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
.topbar-outer .topbar {
	width: 1024px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.topbar-outer .topbar .topbar-left {
	float: left;
}
.topbar-outer .topbar .topbar-right {
	float: right;
}
.topbar-outer .topbar .topbar-left ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.topbar-outer .topbar .topbar-left ul li {
	float: left;
	margin-right: 7px;
}
.topbar-outer .topbar .topbar-left ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #000;
}
.topbar-outer .topbar .topbar-right ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.topbar-outer .topbar .topbar-right ul li {
	float: left;
	margin-left: 7px;
}
.topbar-outer .topbar .topbar-right ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
.header-outer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.header-outer .header {
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.header-outer .header .header-left {
	float: left;
}
.header-outer .header .header-right {
	float: right;
	margin-right: 40px;
}
.header-outer .header .header-right .menu ul li .menu-icon {
	text-align: center;
	height: 30px;
}
.header-outer .header .header-right .menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.header-outer .header .header-right .menu ul li {
	float: left;
	margin-left: 40px;
}
.header-outer .header .header-left .logo {
	/*background-image: url(images/Swavlambanlogo1.png);*/
	height:100px;
	background-repeat: no-repeat;
}

.header-outer .header .header-left .logo a {
	display:block;
	width: 435px;
	text-decoration: none;
}

.header-outer .header .header-right .menu ul li .menu-txt a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	text-decoration: none;
}
.header-outer .header .header-right .menu ul li .menu-txt {
	padding-top: 16px;
}
.header-outer .header .header-right-logo 
{
    background-image: url(images/emblem-of-india.jpg);
    height:100px;
     width:79px;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float:right;

}
.header-outer .header .header-right .menu {
	padding-top:12px;
}
.topbar-outer .topbar .topbar-left ul li .hindi {
	color: #3d5a27;
	font-weight: bold;
}
.footer-outer {
	background-color: #3d5a27;
	width: 100%;
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.footer-outer .footer {
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}
.footer-outer .footer .footer-address {
	position: absolute;
	top: -65px;
	right: 0px;
	background-color: #699548;
	padding: 20px;
	width: 260px;
}
.footer-outer .footer .footer-address h1 {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.footer-outer .footer .footer-address p {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
}
.footer-outer .footer .footer-address h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #213314;
	margin-top: 5px;
	margin-bottom: 5px;
}
.footer-outer .footer .footer-links {
float:left;
width:690px;
}
.footer-outer .footer .footer-links .footer-links-panel ul {
	padding: 00px;
	list-style-type: none;
}
.footer-outer .footer .footer-links .footer-links-panel {
	float: left;
	margin-right: 35px;
}
.footer-outer .footer .footer-links .footer-links-panel h1 {
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFF;
}
.footer-outer .footer .footer-links .footer-links-panel ul li a {
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
}

.footer-outer .footer .footer-links .footer-links-panel ul li a:hover {
	color: #000;
}
.footer-outer .bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
}
.middle-outer {
	background-color: #507634;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
.middle-outer .middle-inner {
	padding: 0px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.middle-outer .middle-inner .home-jobsearch {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align:center;/*-----------added by mridul 22-01-2016-------------*/
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-left {
	float: left;
	width: 500px;
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-right {
	float: left;
	width: 260px;
	background-color: #e8e8e8;
	padding: 5px;
	margin-right: 12px;
}
.job-textbox {
	width: 258px;
	border: 1px solid #d1d1d1;
	height: 40px;
	margin-bottom: 6px;
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-right .jobsearch-term {
	margin-top: 6px;
	margin-bottom: 12px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-right .jobsearch-term a {
	color: #069;
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-left .browse-jobs {
	background-color: #3d5a27;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFF;
}
.middle-outer .middle-inner .middle-inner-sepline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	margin-top: 15px;
	margin-bottom: 15px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .job-panel {
	float: left;
	width: 350px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel {
	float: right;
	width: 350px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .job-panel .job-panel-left {
	float: left;
	width: 105px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .job-panel .job-panel-right {
	float: right;
	width: 245px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .job-panel .job-panel-right h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.middle-outer .middle-inner .middle-inner-bottompanel .job-panel .job-panel-right p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.middle-outer .middle-inner .middle-inner-bottompanel .job-panel .job-panel-right h1 a {
	color: #FFF;
	text-decoration: none;
}




.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel .employers-panel-left {
	float: left;
	width: 105px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel .employers-panel-right {
	float: right;
	width: 245px;
}
.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel .employers-panel-right h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel .employers-panel-right p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel .employers-panel-right h1 a {
	color: #FFF;
	text-decoration: none;
}.content-outer {
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
}
.content-outer .content {
	padding: 0px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.content-outer .content .content-left {
	float: left;
	width: 690px;
}
.content-outer .content .content-right {
	float: right;
	width: 300px;
}
.content-outer .content .content-left h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #3d5a27;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
.content-outer .content .content-left .news-sec ul li {
	padding: 10px;
	border: 1px solid #989898;
	margin-bottom: 20px;
}
.content-outer .content .content-left .news-sec ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.content-outer .content .content-left .news-sec {
	margin-top: 20px;
    text-align: left;
}
.content-outer .content .content-left .news-sec ul li a {
	color: #797979;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.content-outer .content .content-left .home-photoGallery {
	margin-top: 20px;
}
.content-outer .content .content-right .animating-logos {
	text-align: center;
}
.content-outer .content .content-right .home-clients {
	background-color: #f4f4f4;
	border: 1px solid #666;
	padding: 0px;
	margin-top: 20px;
	position: relative;
}
.jobtitle {
	float: left;
}
.exp {
	float: right;
	margin-bottom: 10px;
}
.header-outer .header .header-left .logo a .logo-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #3d5927;
	padding-left: 100px;
}
.header-outer .header .header-left .logo a .logo-sub-heading {
	padding-left: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
.content-outer .content .content-right .home-clients h1 {
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #666;
	padding: 10px;
}
.menu-outer {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #3d5a27;
	height: 40px;
	width: 100%;
}
.menu-outer .menu {
	padding: 0px;
	width: 1115px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 40px;
}
.menu-outer .menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.menu-outer .menu ul li {
	float:left;
	margin:0;
	padding:0;
}

.menu-outer .menu ul li:hover {
	background-color:#507634;
}

.menu-outer .menu ul li.active {
	background-color:#507634;
}
.menu-outer .menu ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	line-height: 40px;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
}
.content-outer .content h1 {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #3d5a27;
}
.content-outer .content p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    color:#000;
}
.content-outer .content h2 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #699548;
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-button {
	float: right;
	width: 228px;
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-button ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.middle-outer .middle-inner .home-jobsearch .home-jobsearch-button ul li {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	margin-bottom:2px;
	padding: 10px;
	display:block;
	
}

.middle-outer .middle-inner .home-jobsearch .home-jobsearch-button ul li:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
	
	
}
.middle-outer .middle-inner .home-jobsearch .home-jobsearch-button ul li a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	display:block;
	font-weight: bold;
	text-transform:uppercase;
}


.two-logo {
    float: left; width: 320px; margin: 0 auto; text-align: center; padding-top: 28px;
}


/*---------------by mridul start--------------*/

.marquee{width:690px;}
.sliderm{position: relative; top: 0px; left: 0px; width: 500px;
         height: 175px; background: transparent;}
		 
.logom{float:left;margin-left:-100px;}		 


/*---------------by mridul end--------------*/

/*-----------------------------------------------------all media query goes here---------------------------------------------------*/

@media (max-width:480px) {

/*---------------by mridul start--------------*/
.Choose_Scholarship{
    left:0px !important;
}


.marquee{width:100%;}	

.footer-outer .footer .footer-links .footer-links-panel {
    float: none;
    margin-left: 10px;
}


.footer-outer .footer .footer-address {
    position: static;
    top: auto;
    right: 0px;
    background-color: #699548;
    padding: 20px;
    width: 260px;
}

.footer-outer .footer .footer-links {
    float: none;
    width: 100%;
}

.footer-outer {
    background-color: #3d5a27;
    width: 100%;
    margin-top: 0px;
}



.footer-outer .footer {
    width: 100%;
}	

.middle-outer .middle-inner {
    width: 100%;
}
	
.header-outer .header .header-left .logo a {
    width: 100%;
}

.header-outer .header .header-left .logo a .logo-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #3d5927;
    padding-left: none; 
}

.sliderm
{
width:100%;	
height:auto;
}

/*-------tabs-------*/
#tabs > ul > li 
{
float: none !important;
width:100% !important;
}	

#tabs > ul {
    margin-top: 20px !important;
}
	

/*---------------by mridul end--------------*/

    .topbar-outer {
    width: 100%;
    padding: 15px 0px 20px;
    margin: 0px;
    background-image: none;
    background-repeat: none;
    }

    .topbar-outer .topbar {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    text-align:center;
    display:inline-block;
}

.header-outer .header {
    margin: 0px auto;
    padding: 15px 0px;
    width: 100%;
}



.middle-outer .middle-inner .home-jobsearch .home-jobsearch-right
    {
        float:none;
        background-color: #E8E8E8;
        padding: 5px;
        margin-right: 12px;
        width: 270px;
		display:inline-block;/*-----------added by mridul 22-01-2016-------------*/
    }

.middle-outer .middle-inner .home-jobsearch .home-jobsearch-left {
    float: none;
    width: 100%;/*-----------added by mridul 22-01-2016-------------*/
    padding-bottom:10px;
}

.middle-outer .middle-inner .home-jobsearch .home-jobsearch-button {
    float: none;
    width: 228px;
    padding-bottom:10px;
	display:inline-block;/*-----------added by mridul 22-01-2016-------------*/
}

.middle-outer .middle-inner .middle-inner-bottompanel .job-panel {
    width: 280px;
    float: none;
    padding-bottom:10px;
}

.two-logo {
    float: none; 
    width: 320px; 
    margin: 0;
    padding-top: 10px;
}

.middle-outer .middle-inner .middle-inner-bottompanel .employers-panel {
    width: 280px;
    float:none;
    padding-top: 10px;
}

.content-outer .content {
    padding: 0px;
    margin: 0px auto;
    width: 100%;
}

.content-outer .content .content-left {
    width: 100%;
    float: none;
}

.content-outer .content .content-right {
    float: none;
    width: 300px;
}
.Choose_Scholarship {
    
}

}